.loginContainer {
  display: flex;
  flex-direction: column;
  width: 600px;
  border: 1px solid var(--border);
  padding: 4em;
  border-radius: 0.25rem;
}

.divider {
  display: flex;
  align-items: center;
}

.divider::before, .divider::after {
  flex: 1;
  content: '';
  padding: 0.5px;
  background-color: var(--border);
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
