@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --black: #141414;
    --grey: #222;
    --highlight-grey: #343434;
    --white: #f1f1f1;
    --border: #555;
    --secondary: #408c96;
  }
 
  .dark {
    --black: #141414;
    --grey: #222;
    --highlight-grey: #343434;
    --white: #f1f1f1;
    --border: #555;
    --secondary: #408c96;
  }

  * {
    color: var(--white);
  }

  body{   
    background-color: var(--black) !important;
  }

  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
  }

  .input, button {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.50rem;
    padding-bottom: 0.50rem;
    border-radius: 0.25rem;
    font-weight: bold;
    border: 2px solid var(--border)
  }

  .input, button:hover {
    border: 2px solid var(--secondary);
    color: var(--secondary)
  }

  .margin-input {
    margin-bottom: 1.25rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
