.articleWrapper {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}

.articleWrapper:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.articleBody h2 {
  margin: 0 0 18px 0;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

.modalBody p {
  margin: 18px;
  width: 100%;
  line-height: 1.5em;
  text-align: left;
}

.articleBody p {
  margin-bottom: 18px;
  max-width: 600px;
  line-height: 1.5em;
}

.banner {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.banner img{
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.articleBody {
  padding: 24px;
}

.modalWrapper {
  max-width: 750px;
}

.modalBanner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalBanner img{
  max-height: 400px
}

.modalBody {
  padding: 2em;
}

.modalTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
}

.techIcons {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: .5em;
}

@media (max-width: 960px) {
  .articleWrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }

  .articleBody h2 {
    margin: 0;
  }

  .articleBody p {
    display: none;
  }

  .banner img {
    object-fit: cover;
    height: 100%;
  }
}

@media (max-width: 750px) {
  .modalBanner img {
    width: 100%;
  }
}

